*{
    display: flex;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    background-color: #8E8FFA;
    width: 100%;
    gap: 15px;
}

header{
    width: 100%;
    height: 90px;
    flex-direction: row;
    gap: 0;
}

.for_buttons{
    flex-grow: 1;
    height: 100%;
    background-color: #190482;
    justify-content: space-around;
}

button{
    width: 200px;
    border-radius: 5px;
    height: 49px;
    background-color: #8E8FFA;
    color: #fff;
    border: 2px #190482 solid;
    transition: 300ms ease-in-out;
}

button:hover{
    border: 2px #fff solid;
    background-color: #190482;
}

.name{
    display: flex;
    background-color: #7752FE;
    height: 100%;
    padding: 0px 10px;
}

.nameText{
    color: #fff;
    font-size: 40px;
}

main{
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px ;
    gap: 20px;
    background-color: #fff;
    border-radius: 15px;
}

.prodCard{
    flex-direction: column;
    background-color: #8E8FFA;
    width: 250px;
    height: 360px;
    /* min-height: 350px;
    max-height: 360px; */
    gap: 10px;
    padding: 30px 10px;
    border-radius: 15px;
}

.prod_lower{
    flex-direction: row;
    width: 100%;
    height: fit-content;
    justify-content: space-evenly;
}

.prod_name{
    width: 90%;
    /* flex-grow: 1; */
    height: fit-content;
    background-color: #C2D9FF;
}

.buy_button{
    border: 2px #190482 solid;
    font-size: 24;
    width: fit-content;
    height: fit-content;
    padding: 5px 25px;
}

p{
    color: #190482;
    font-size: medium;
}


.prodImg{
    width: 190px;
    height: 190px;
    border-radius: 10px;
}

title{
    visibility: hidden;
}